// Fonts //
//////////
// font-family: 'Cinzel', serif;
// font-family: 'Tajawal', sans-serif;
// font-family: 'Gugi', cursive;
// font-family: 'PT Sans Narrow', sans-serif;
// font-family: 'Permanent Marker', cursive;

// Colors //
$terracotta: #E8A87C;
$accent-orange: #E27D60;
$accent-blue: #85CDCA;
$accent-salmon: #C38D9E;
$accent-darkblue: #41BEA3;

body {
  font-family: 'Tajawal', sans-serif;
  margin: 0;
  padding: 0;
}

/////////////
// Landing //

.front-container {
  background: url(../images/bgfixed2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 45%;
  text-align: center;
  h1 {
    font-size: 5em;
    margin: 0;
  }

  h2 {
    font-size: 2em;
  }
}
.down-arrow {
  position: absolute;
  bottom: 2%;
  right: 2%;
  transition: all .2s ease-in-out;
  &:hover {
  -webkit-transform: scaleY(1.2);
  transform: scale(1.2);
  }
  a {
    color: $accent-salmon;
    &:hover {
      color: white;
      
    }
  }
}

//////////////////
// Post Landing //

////////////
// Navbar //
.second-container {
  background: linear-gradient(to bottom right, $accent-darkblue, $accent-blue);
  display: flex;
  height: 140px;
  justify-content: space-around;
  align-items: center;
}
.link-container {
  display: flex;
  align-items: center;
  height: 120px;
  width: 20%;
  overflow: hidden;
}
.navlinks {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  height: 100%;
  width: 100%;
  font-size: 24px;
  color: white;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
&:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);

  }
}

.aboutlink {
  background: url(../images/gettoknowmefixed2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portlink {
  background: url(../images/seemyworkfixed2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contactlink {
  background: url(../images/contactmefixed.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

//////////////
// About Me //

.third-container {
  display: flex;
  position: absolute;
  left: -5000px;
}





@media screen and (max-width: 768px) {
  .intro {
    top: 25%;
  }
}

//   -webkit-animation: opacity-in 1s ease-in-out;
//   animation: opacity-in 1s ease-in-out;
//   }
//   @-webkit-keyframes opacity-in {
//     0% {opacity: 0;}
//     100% {opacity: 1;}
//   }
//   @keyframes opacity-in {
//     0% {opacity: 0;}
//     100% {opacity: 1;}