// Fonts //
//////////
// font-family: 'Cinzel', serif;
// font-family: 'Tajawal', sans-serif;
// font-family: 'Gugi', cursive;
// font-family: 'PT Sans Narrow', sans-serif;
// font-family: 'Permanent Marker', cursive;

body {
  font-family: 'PT Sans Narrow', sans-serif;
    background-image: url(../../images/06-usersthink-stock-image.jpg) no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.front-container {
  text-align: center;

}