// Fonts //
//////////
// font-family: 'Cinzel', serif;
// font-family: 'Tajawal', sans-serif;
// font-family: 'Gugi', cursive;
// font-family: 'PT Sans Narrow', sans-serif;
// font-family: 'Permanent Marker', cursive;

// Colors //
$terracotta: #E8A87C;
$accent-orange: #E27D60;
$accent-blue: #85CDCA;
$accent-salmon: #C38D9E;
$accent-darkblue: #41BEA3;

.perm-marker {
font-family: 'Permanent Marker', cursive;
}
.underline {
  text-decoration: underline;
}
.center {
  text-align: center;
}
body {
  font-family: 'Tajawal', sans-serif;
  margin: 0;
  padding: 0;
}

/////////////
// Landing //

.front-container {
  background: url(../images/bgfixed2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 45%;
  text-align: center;
  cursor: context-menu;
  h1 {
    font-size: 5em;
    margin: 0;
  }

  h2 {
    font-size: 2em;
  }
}
.down-arrow {
  position: absolute;
  bottom: 2%;
  right: 2%;
  i {
  transition: all .2s ease-in-out;
  &:hover {
  -webkit-transform: scaleY(1.2);
  transform: scale(1.2);
  }
  }
  a {
    color: $accent-salmon;
    cursor: pointer;
    &:hover {
      color: white;
      
    }
  }
}

//////////////////
// Post Landing //

////////////
// Navbar //
.second-container {
  background: linear-gradient(to bottom right, $accent-darkblue, $accent-blue);
  display: flex;
  height: 140px;
  justify-content: space-around;
  align-items: center;
  position: static;
}
.link-container {
  display: flex;
  align-items: center;
  height: 120px;
  width: 20%;
  cursor: pointer;
  overflow: hidden;
}
.navlinks {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  height: 100%;
  width: 100%;
  font-size: 24px;
  color: white;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
&:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);

  }
}

.aboutlink {
  background: url(../images/gettoknowmefixed2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portlink {
  background: url(../images/seemyworkfixed2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contactlink {
  background: url(../images/contactmefixed.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
//////////////
// About Me //

.about-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "kayak about";
  height: calc(100vh - 140px);
  width: 100%;
  background: linear-gradient(to top right, $accent-blue, $terracotta);
}
.about-left {
  grid-area: kayak;
  display: flex;
  align-items: center;
  img {
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }
}
.about-right {
  grid-area: about;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

///////////////
// Portfolio //

.portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas:
  "ptitle ptitle"
  "work1 work2"
  "work3 work4"
  "arrow arrow";
  min-height: calc(100vh - 140px);
  max-width: 100%;
  background: linear-gradient(to top right, $accent-blue, $terracotta);
  padding: 2%;
}
.port-title {
  grid-area: ptitle;
  display: flex;
  justify-content: center;
}
.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2%;
  img {
    height: auto;
    width: 100%;
    &:hover {
      opacity: .7;
    }
  }
}
.up-arrow {
  grid-area: arrow;
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 10%;
  i {
  transition: all .2s ease-in-out;
  &:hover {
  -webkit-transform: scaleY(1.2);
  transform: scale(1.2);
  }
  }
  a {
    color: $accent-salmon;
    cursor: pointer;
    &:hover {
      color: white;
      
    }
  }
}

////////////////
// Contact Me //
.contact-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "me contact";
  height: calc(100vh - 140px);
  width: 100%;
  background: linear-gradient(to top right, $accent-blue, $terracotta);
}
.contact-left {
  grid-area: me;
  display: flex;
  align-items: center;
  img {
    height: auto;
    width: 80%;
    margin: 0 auto;
  }
}
.contact-right {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  a {
    font-size: 22px;
    color: darken($accent-blue, 20%);
    text-decoration: none;
    &:hover {
      color: darken($accent-blue, 30%);
    }
  }
}

@media screen and (max-width: 768px) {
  .intro {
    top: 25%;
  }
}

//   -webkit-animation: opacity-in 1s ease-in-out;
//   animation: opacity-in 1s ease-in-out;
//   }
//   @-webkit-keyframes opacity-in {
//     0% {opacity: 0;}
//     100% {opacity: 1;}
//   }
//   @keyframes opacity-in {
//     0% {opacity: 0;}
//     100% {opacity: 1;}